<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-locationplugin" version="0.0.1">
    <name>LocationPlugin</name>

    <description>Location Tracking Plugin</description>
    <license>MIT</license>

    <keywords>cordova,location</keywords>
    <repo>https://github.com/ramt19/location-tracking-plugin.git</repo>
    <issue>https://github.com/ramt19/LocationPlugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/locationplugin.js" name="locationPlugin">
        <clobbers target="window.plugins.locationPlugin" />
    </js-module>
    <platform name="android">
		
		<framework src="com.android.support:appcompat-v7:26.+" />
		
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:enabled="true" android:name="com.org.cordova.plugin.UpdaterService" />
			<receiver android:exported="true" android:name=".StartOnBoot" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
			</receiver>
		</config-file>
		
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocationPlugin">
                <param name="android-package" value="com.org.cordova.plugin.LocationPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/LocationPlugin.java" target-dir="src/com/org/cordova/plugin" />
		<source-file src="src/android/UpdaterService.java" target-dir="src/com/org/cordova/plugin" />
		<source-file src="src/android/LocationDatabase.java" target-dir="src/com/org/cordova/plugin" />
		<source-file src="src/android/StartOnBoot.java" target-dir="src/com/org/cordova/plugin" />
		
    </platform>
</plugin>